@page
@model DrugDrug.Pages.DrugAdmin.CreateModel

@{
    ViewData["Title"] = "สร้างรายชื่อยาใหม่";
}

<h2>สร้างรายชื่อยาใหม่</h2>

<h4>รายละเอียด</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                รายชื่อยา
                <input asp-for="Drug.DrugName" class="form-control" />
                <span asp-validation-for="Drug.DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียด
                <input asp-for="Drug.DrugDetail" class="form-control" />
                <span asp-validation-for="Drug.DrugDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวน
                <input asp-for="Drug.stock" class="form-control" />
                <span asp-validation-for="Drug.stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">กลับไปหน้าแรก</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
