@page
@model DrugDrug.Pages.DrugAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Drug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Drug.DrugName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drug.DrugDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drug.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drug.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.postUser.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Drug.DrugId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
