@page
@model DrugDrug.Pages.DrugAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Drug</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Drug.DrugName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drug.DrugDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.DrugDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drug.stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Drug.postUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Drug.postUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Drug.DrugId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
