@page
@model DrugDrug.Pages.DrugAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Drug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Drug.DrugName" class="control-label"></label>
                <input asp-for="Drug.DrugName" class="form-control" />
                <span asp-validation-for="Drug.DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drug.DrugDetail" class="control-label"></label>
                <input asp-for="Drug.DrugDetail" class="form-control" />
                <span asp-validation-for="Drug.DrugDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drug.stock" class="control-label"></label>
                <input asp-for="Drug.stock" class="form-control" />
                <span asp-validation-for="Drug.stock" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Drug.DrugId" />
            <div class="form-group">
                <label asp-for="Drug.DrugUserId" class="control-label"></label>
                <select asp-for="Drug.DrugUserId" class="form-control" asp-items="ViewBag.DrugUserId"></select>
                <span asp-validation-for="Drug.DrugUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
