@page
@model DrugDrug.Pages.DrugAdmin.IndexModel

@{
    ViewData["Title"] = "หน้าแรก";
}

<h2>หน้าแรก</h2>

<p>
    <a asp-page="Create">สร้างรายชื่อยาใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                รายชื่อยา
            </th>
            <th>
                รายละเอียด
            </th>
            <th>
                จำนวน
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drug) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
       
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DrugId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DrugId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DrugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
