﻿@page
@model IndexModel
@{
    ViewData["Title"] = "DrugDrug";
}
<style>
	body{
		background-color: #FFFF66;
    }
    .jumbotron{
        background-color: pink;
    }
</style>
<div class="jumbotron" style color>
    <center><h1>Welcome to DrugDrug</h1></center>
</div>
<div class="row">
    <h3> ยาทั้งหมด </h3>
    <table class="table" bordercolor="#FF0099" >
    <thead>
        <tr>
            <th bgcolor="pink">รายชื่อยา</th><th bgcolor="pink">รายละเอียด</th><th bgcolor="pink">จำนวน</th>
        </tr>
    </thead>
 <tbody>


@foreach (var item in Model.Drug) {
 <tr>
    <td>
        @Html.DisplayFor(modelItem => item.DrugName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DrugDetail)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.stock)
    </td>
    
 </tr>
}

@foreach (var item in Model.Drug)
{
		@if (@item.stock < 10)
				{
					<h3><font color="red">ยาที่ใกล้จะหมด : @item.DrugName </h3>
				}
}<br>
</tbody>
</table>
</div>