@page
@model NewsReport.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "ข้อมูลข่าว";
}

<h2>ข้อมูลข่าว</h2>

<div>
    <h4>ข่าว</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
			หมวดข่าว
			
        </dt>
        <dd>
			
			@Html.DisplayFor(model => model.News.NewsCat.NewsCategoryID)
        </dd>
        <dt>
			วันที่เกิดเหตุ
			
        </dt>
        <dd>
			
			@Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
			เหตุเนื้อข่าว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
			ละติจูจุดที่เกิดเหตุ
			
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
			ลองจิจูดจุดที่เกิด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
        <dt>
			สถานะการยืนยัน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
