@page
@model NewsReport.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "หน้าแรก";
}

<h2>หน้าแรก</h2>

<p>
    <a asp-page="Create">สร้างข่าวใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
				หมวดข่าว
            </th>
            <th>
				วันที่เกิดเหตุ
            </th>
            <th>
				รายละเอียดข่าว
            </th>
            <th>
				ละติจูดที่เกิดเหตุ
            </th>
            <th>
				ลองจิจูดที่เกิดเหตุ
            </th>
            <th>
				สถานะการยืนยัน
            </th>
            <th>
				โพสต์โดย
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.NewsCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postUser.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
